<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Forkgram Resolver Diagnostic"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Structural Forkgram resolver diagnostic module" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
